.hotelgrid-card{
    display:grid;
    grid-template-rows: auto ; 
    padding:5px;
    gap:15px;
}

.Hotelcard{
    display:flex;
    border-radius: 30px;
    align-items: center;
    padding: 15px;
    flex-wrap:wrap; 
}

body{
    background-color: aliceblue;
    padding:20px;
} 

.hotelgrid-info{
   /*border: 2px dotted black; */
    padding :20px;
    margin :10px;
    background-color: snow;
    border-radius: 30px;
   width: 1000px;
}

.Hotelcard:hover{
    /*transform: scale(1.2);*/
   box-shadow: 
    0 6px 16px rgba(0, 0, 0, 0.12),
    0 12px 32px rgba(0, 0, 0, 0.12);
    transform: translateY(-3px);
}

.hotelgrid-img img{
   border-radius: 20px;
}

.hotelgrid-img:hover{
    transform:scale(1.02);
}

.hotelgrid-info button{
  padding: 12px 28px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 10px;
  margin-top: 12px;


  background: linear-gradient(135deg, #4f8cff, #2b59ff);
  color: white;

  cursor: pointer;
}

.hotelgrid-info button:hover{
    box-shadow: 0 3px 16px rgba(130, 100, 240, 0.712);
}

.img-grid{
    display:grid;
    grid-template-columns: repeat(3,1fr);
     gap: 6px;
     padding-left:3px;
}

.flex-img{
  display: flex;
  flex-direction: column; 
  gap: 8px;
}

.img-grid img{
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.img-grid :hover{
    transform: scale(1.02);
}

.hotelgrid-info p {
  max-width: 90%;
}