.Navbar{
   display:flex;
   justify-content: space-between;
   align-items: center;
   padding: 4px 70px;
   box-shadow: grey 3px 3px 3px 2px;
   border-radius: 25px;
   margin-bottom: 20px;
   
   background: linear-gradient(
    180deg,
    white,
    snow
  );
}

.link{
    text-decoration: none;
    color:black;
    font-size: 20px;
    padding-right : 30px;
}
