.landing-hero {
    height: calc(100vh - 70px); 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(241, 103, 207, 0.6), rgba(0, 0, 0, 0.6)), 
                url('https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?q=80&w=2070&auto=format&fit=crop');
    background-size: cover;
    background-position: center;
    text-align: center;
    color: rgb(255, 255, 255);
}

.landing-hero h1 {
    font-size: 65px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.landing-hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
    opacity: 0.9;
}

.landing-cta-btn {
    background-color: #9f28a7; 
    color: white;
    padding: 16px 45px;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 7px; 
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.landing-cta-btn:hover {
    transform: scale(1.1);
}
.welcm {
   
    text-shadow: 2px 2px 4px #000000;
    font-family: "Brush Script MT", cursive;
}
